{% extends 'base.html.twig' %}

{% block title %}Edit Scorecard{% endblock %}

{% block body %}
    <h1>Edit Scorecard</h1>

    {{ include('scorecard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('scorecard_index') }}">back to list</a>

    {{ include('scorecard/_delete_form.html.twig') }}
{% endblock %}
