{% extends 'base.html.twig' %}

{% block title %}Edit Counter{% endblock %}

{% block body %}
    <h1>Edit Counter</h1>

    {{ include('counter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('counter_index') }}">back to list</a>

    {{ include('counter/_delete_form.html.twig') }}
{% endblock %}
