{% extends 'base.html.twig' %}

{% block title %}New Counter{% endblock %}

{% block body %}
    <h1>Create new Counter</h1>

    {{ include('counter/_form.html.twig') }}

    <a href="{{ path('counter_index') }}">back to list</a>
{% endblock %}
