{% extends 'base.html.twig' %}

{% block title %}Fiche_Delete{% endblock %}

{% block body %}
<form action="/">
<p> situation </p>
<input type="radio" name="situation" value="Externe"> Externe <br>
<input type="radio" name="situation" value="Demi-pensionnaire"> Demi-pensionnaire <br>
<input type="radio" name="situation" value="Interne"> Interne <br>
<br>
<label> BAC obteined </label>
<input type="text" name="BAC" value="">
<p> Etudes effectuée l'an dernier </p>
<imput type="text" name="ancien eta" value"">
</br>
<p> My Forces in college </p>
<input type="text" name="forces" value"">
</br>
<p> My weakness in college </p>
<input type="text" name="weakness" value="">
</br>
<p> My activity (Sport,arts,cultur) </p>
<input type="text" name="activity" value="">
</br>
<p> My BTS's inscription </p>
<input type="radio" name="inscription" value="I choose it">
<input type="radio" name="inscription" value="I suffered it">
</br>
<p> Why ? </p>
<input type="text" name="inscription_about" value="">
</br>
<p> professional experience (Summer work, Stages)<p>
<label> Company name : </label>
<input type="text" name="company_name_1" value="">
</br>
<label> Company location : </label>
<input type="text" name="company_location_1" value="">
</br>
<label> Company Activity : </label>
<input type="text" name="company_activity_1" value="">
</br>
<label> Period : </label>
<input type="text" name="company_period_1" value="">
</br>
<label> Activity executed : </label>
<input type="text" name="company_executed_1" value="">
</br>
</br>
<label> Company name : </label>
<input type="text" name="company_name_2" value="">
</br>
<label> Company location : </label>
<input type="text" name="company_location_2" value="">
</br>
<label> Company Activity : </label>
<input type="text" name="company_activity_2" value="">
</br>
<label> Period : </label>
<input type="text" name="company_period_2" value="">
</br>
<label> Activity executed : </label>
<input type="text" name="company_executed_2" value="">
</br>
</br>
<label> Company name : </label>
<input type="text" name="company_name_3" value="">
</br>
<label> Company location : </label>
<input type="text" name="company_location_3" value="">
</br>
<label> Company Activity : </label>
<input type="text" name="company_activity_3" value="">
</br>
<label> Period : </label>
<input type="text" name="company_period_3" value="">
</br>
<label> Activity executed : </label>
<input type="text" name="company_executed_3" value="">
</br>
</br>
<label> Company name : </label>
<input type="text" name="company_name_4" value="">
</br>
<label> Company location : </label>
<input type="text" name="company_location_4" value="">
</br>
<label> Company Activity : </label>
<input type="text" name="company_activity_4" value="">
</br>
<label> Period : </label>
<input type="text" name="company_period_4" value="">
</br>
<label> Activity executed : </label>
<input type="text" name="company_executed_4" value="">
</br>
</br>
<p> What is your futur job you want? </p>
<input type="text" name="future_job" value="">
</br>
</form> 

{% endblock %}