{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1 class="page-title">{{'Welcome on Mévole'|trans}}</h1>
<hr class="page-title-separator"/>
<div class="page-title-text-container">
    <p>{{'Mévole is a software for managing competency counters, student records and average calculation for the baccalaureate.'|trans}}<p>
</div>
{% endblock %}
