{% extends 'base.html.twig' %}

{% block title %}SkillsCounter - Accueil{% endblock %}

{% block body %}

<h1 class="page-title">Bienvenue sur SkillsCounter</h1>
<hr class="page-title-separator customized"/>
<div class="page-title-text-container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam necessitatibus dignissimos praesentium odit ut fuga commodi culpa porro ipsam tenetur molestiae modi, quos quibusdam nesciunt recusandae labore fugit blanditiis. Ipsa.</p>
    <p>Facilis eveniet, minima suscipit, consequatur nam ad veritatis molestias nisi ut laborum tempore sapiente aperiam possimus dolores. Molestiae modi odit earum, id veritatis, ut, optio suscipit animi impedit iure dignissimos.</p>
    <p>Fugit enim doloribus, expedita est culpa cumque nobis velit iusto aspernatur modi nemo neque asperiores nam optio ad. Dolor deleniti pariatur error dolores facere iusto illum eius asperiores doloremque adipisci.</p>
</div>
{% endblock %}
