<form method="post" action="{{ path('evaluation_delete', {'id': evaluation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evaluation.id) }}">
    <button class="btn">Delete</button>
</form>
