<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        



        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark ">
            <a class="navbar-brand" href="/">SkillsCounter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nouvelle évaluation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Consultation évaluation</a>                        
                    </li>                      
                </ul>     
                <span class="nav-item navbar-text username-color">
                        {% if app.user %}
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link username-color name" href="#"><i class="fas fa-user"></i> {{app.user.username}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link username-color logout-link" href="/logout"><i class="fas fa-power-off"></i>D</a>
                                </li>
                            </ul>
                        {% else %}
                            <a class="nav-link username-color name" href="/login"><i class="fas fa-sign-in-alt"></i> Connexion</a>
                        {% endif %}
                    </span>             
            </div>
        </nav>

        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/5.0/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>

