{% extends 'base.html.twig' %}

{% block title %}Edit Classroom{% endblock %}

{% block body %}
    <h1>Edit Classroom</h1>

    {{ include('classroom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('classroom_index') }}">back to list</a>

    {{ include('classroom/_delete_form.html.twig') }}
{% endblock %}
